.search-button {
	appearance: button;
	background-color:rgb(255,255,255);
	border-color:rgb(187,187,187);
	border-radius:0px;
	border-style:solid;
	border-width:1px;
	color-scheme:light;
	cursor:pointer;
	display:block;
	font-family:QANrPkTKkPzwQk1u4aWP, -apple-system, BlinkMacSystemFont, NanumBarunGothic, system-ui, sans-serif;
	font-size:13.125px;
	outline-color:rgb(0,0,0);
	outline-style:none;
	outline-width:0px;
	overflow:visible;
	padding-block:3.75px;
	padding-inline:7.5px;
	padding: 3.75px 7.5px;
	position:relative;
}

.input-group-append {
	box-sizing:border-box;
	color:rgb(0,0,0);
	color-scheme:light;
	display:flex;
	font-family:QANrPkTKkPzwQk1u4aWP, -apple-system, BlinkMacSystemFont, NanumBarunGothic, system-ui, sans-serif;
	font-size:15px;
	font-weight:400;
	height:29.1875px;
	line-height:22.5px;
	margin-left:-1px;
	text-align:left;
	text-size-adjust:100%;
	width:43.25px;
}

.search-text {
	background-clip:padding-box;
	border-color:rgb(187,187,187);
	border-radius:0px;
	border-style:solid;
	border-width:1px;
	box-sizing:border-box;
	color-scheme:light;
	display:block;
	flex-basis:auto;
	flex-grow:1;
	flex-shrink:1;
	font-family:QANrPkTKkPzwQk1u4aWP, -apple-system, BlinkMacSystemFont, NanumBarunGothic, system-ui, sans-serif;
	height:29.1875px;
	line-height:19.6875px;
	min-width:0px;
	padding-block:3.75px;
	padding-inline:7.5px;
	padding: 3.75px 7.5px;
	position:relative;
	text-size-adjust:100%;
	width:162px;
}

option {
	box-sizing:border-box;
	font-family:QANrPkTKkPzwQk1u4aWP, -apple-system, BlinkMacSystemFont, NanumBarunGothic, system-ui, sans-serif;
	line-height:19.6875px;	
}

select {
	appearance:none;
	background-attachment:scorll;
	background-clip:border-box;
	background-image:url("/img/arrow.jpg");
	background-origin:padding-box;
	background-position-x:calc(100% - 4px);
	background-position-y:50%;
	background-repeat:no-repeat;
	background-size:20px 20px;
	border-color:rgb(187,187,187);
	color-scheme:light;
	display:block;
	font-family:QANrPkTKkPzwQk1u4aWP, -apple-system, BlinkMacSystemFont, NanumBarunGothic, system-ui, sans-serif;
	height:29.1875px;
	line-height:19.6875px;
	min-block-size:auto;
	min-inline-size:auto;
	overflow-wrap:normal;
	padding-block:3.75px;
	padding-inline-end:21px;
	padding-inline-start:11.25px;
	padding: 3.75px 21px 3.75px 11.25px;
	vertical-align:middle;
	width:92.25px;
}

.input-group-prepend {
	box-sizing:border-box;
	color:rgb(0,0,0);
	color-scheme:light;
	display:flex;
	font-family:QANrPkTKkPzwQk1u4aWP, -apple-system, BlinkMacSystemFont, NanumBarunGothic, system-ui, sans-serif;
	font-size:15px;
	font-weight:400;
	line-height:22.5px;
	margin-right:-1px;
	text-align:left; 
	width:92.25px;
}

.input-group{
	align-items:stretch;
	box-sizing:border-box;
	color:rgb(0, 0, 0);
	color-scheme:light;
	display:flex;
	flex-wrap:wrap;
	font-family:QANrPkTKkPzwQk1u4aWP, -apple-system, BlinkMacSystemFont, NanumBarunGothic, system-ui, sans-serif;
	font-size:15px;
	font-weight:400;
	line-height:22.5px;
	position:relative;
	text-align:left;
	width:295.5px;
}

.search-form {
	align-items:center;
	box-sizing:border-box;
	color:rgb(0, 0, 0);
	color-scheme:light;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	font-family:QANrPkTKkPzwQk1u4aWP, -apple-system, BlinkMacSystemFont, NanumBarunGothic, system-ui, sans-serif;
	font-size:15px;
	font-weight:400;
	justify-content:flex-end;
	line-height:22.5px;
	margin-top:7.5px;
	text-align:left;
	width:700px;
}